<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>IRR</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content padding style="background: -webkit-linear-gradient(left, #ae2b30 0%,#f26522 100%);
      background: linear-gradient(to right, #ae2b30 0%,#f26522 100%);">
          <ion-grid style="color: white;font-size: 15px">      
      
      
              <ion-row>
                
                            <ion-col col-12>
                                <h4>From</h4>
                                <ion-select style="outline: auto;max-width: 200%;width: 309px;padding: 10px 8px 15px 16px;" (ionChange)="fromSelect($event)" [(ngModel)]="fromYear">
                                        <ion-option *ngFor="let years of this.years"  >{{years}}</ion-option>

                               </ion-select>
                                <!-- <ion-input style="outline: auto;width: 212px;"></ion-input> -->
                            </ion-col>
                
              </ion-row>

              <ion-row>
                
                    <ion-col col-12>
                        <h4>To</h4>
                        <ion-select style="outline: auto;max-width: 200%;width: 309px;padding: 10px 8px 15px 16px;" (ionChange)="toSelect($event)" [(ngModel)]="toYear">
                                <ion-option *ngFor="let years of this.years"  >{{years}}</ion-option>
                       </ion-select>
                        <!-- <ion-input style="outline: auto;width: 212px;"></ion-input> -->
                    </ion-col>
        
      </ion-row>
      
                
            </ion-grid>
            <button style="color: white;border-color:white;width: 49%;margin-left: 88px;border-right-width: 1px;border-left-width: 1px;margin-top: 22px;" ion-button full outline (click)="calculate()">Calculate</button>
            
      
      </ion-content>