<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Simbu Selva</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background: -webkit-linear-gradient(left, #ae2b30 0%,#f26522 100%);
  background: linear-gradient(to right, #ae2b30 0%,#f26522 100%);">
    <ion-list>

      <ion-item style="color:white;background: -webkit-linear-gradient(left, #ae2b30 0%,#f26522 100%);
        background: linear-gradient(to right, #ae2b30 0%,#f26522 100%);"
        text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <ion-row>
          <ion-col col-11 style="line-height: 2;font-size: 16px;">Product</ion-col>
          <ion-col col-1 style="line-height: 2.5;">
            <ion-icon style="margin-top: 0px;font-size: 2rem;" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(i)">
          <ion-list style="width: 100%;">
            <!-- <ion-item style="color:white;background: -webkit-linear-gradient(left, #ae2b30 0%,#f26522 100%);
                  background: linear-gradient(to right, #ae2b30 0%,#f26522 100%);">
                      <ion-row *ngFor="let p of pages"> 
                          <ion-col col-11>
                      {{p.title}}
                    </ion-col>
                      </ion-row>
                  </ion-item> -->
            <!-- [class.activeHighlight]="checkActivate(p)" -->
            <button style="color:white;background: -webkit-linear-gradient(left, #ae2b30 0%,#f26522 100%);
                  background: linear-gradient(to right, #ae2b30 0%,#f26522 100%);"
              menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
              {{p.title}}
            </button>
          </ion-list>
        </ion-row>
      </ion-item>

    </ion-list>

  </ion-content>

  <!-- <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content> -->

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>